@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <a class="btn btn-danger" asp-action="RenderView" asp-controller="Home">Render View to String</a>
    </div>
</div>